<h1>プライバシーポリシー</h1>

本利用規約（以下「本規約」といいます。）には、築山朋紀（以下，「当サービス提供者」といいます。）がこのサービス上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。

<h2>第1条（個人情報について）</h2>

<a>
当サービスでは、以下の情報を保存しています。<br><br>
ユーザーが、Qiita公式サービスとの連携を許可した場合に、当該外部サービスでユーザーが利用するID及び、その他当該外部サービスのプライバシーポリシー設定によりユーザーが開示を認めた情報。
</a>

<h2>第2条（個人情報の取得・収集）</h2>

<a>
当サービス運営者は、業務の遂行にあたり、個人情報を取得することがあり、取得を行う際は、適切かつ公正な手段により行い、利用目的を予め公表するか、取得後速やかにご本人に通知または公表いたします。
</a>

<h2>第3条（個人情報の利用目的）</h2>

<a>
当サービス運営者は、取得した個人情報を下記の目的の範囲内で適切に利用いたします。<br>
</a>

<ul>
  <li>サービス全般の提供のため</li>
  <li>サービスへのログインに伴う本人確認のため</li>
  <li>お客様のサービス利用状況に関する調査、統計、分析のため</li>
  <li>システムの維持、不具合修正のため</li>
  <li>法令等により提供が必要な場合に、適切な第三者への情報開示責任を遂行するため</li>
</ul>

<h2>第4条（個人情報の提供）</h2>

<a>

</a>

<h2>第5条（個人情報の開示・訂正・利用停止）</h2>

<a>

</a>

<h2>第6条（プライバシーポリシーの改定）</h2>

<a>

</a>
